[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xfce4 Panel Reset
Comment=
Exec=/usr/share/cscmu/xfce4-panel-reset.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false